<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Editar Questões</title>
	
	    <script src="/js/jquery-2.2.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/controllers.js"></script>
	    <link href="css/bootstrap.min.css" rel=stylesheet>
	</head>

	<body background="images/fundo-site.jpg" ng-app="jogoApp" ng-controller="admQuestionsCtrl">
		<nav class="navbar navbar-default navbar-static-top">
			<div id="navbar" class="navbar-collapse collapse">
		        <ul class="nav navbar-nav">
		            <li class="active"><a href="adm.html">Painel de Controle</a></li>
		            <li><a href="listUsers.html">Gerenciar Usuarios</a></li>
		        </ul>
			</div>
		</nav>
		<table class="table table-bordered" ng-init="atualizaQuestions()">
		    <caption>Todos as Questões</caption>
		    <thead>
		    <tr>
		        <th>ID</th>
		        <th>Questão</th>
		        <th>Alternativas</th>
		        <th>Editar</th>
		    </tr>
		    </thead>
		
		    <tbody id="dataRows">
				<tr ng-repeat="q in questions">
					<td>{{ q.id }}</td>
				    <td>{{ q.enunciate }}</td>
				    <td>
				    	<table class="table">
				    		<tr ng-repeat="a in q.alternativas">
				    			<td ng-hide="editing">{{ a.alternativa }}</td>
				    			<td ng-hide="editing">{{ a.status }}</td>
				    		</tr>
				    	</table>
				    </td>
				    <td> <a class='btn btn-danger' role='button' ng-click="deletaQuestao(q.id)">Excluir</a> </td>
				</tr>
		    </tbody>
		</table>
	</body>
</html>
