#rank{
	border-radius: 20px;
	margin-top: 1%;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

#rank td, th{
	padding: 20px;
	vertical-align: middle;
	horizontal-align: center;
}

h1{
	color: dark-gray;
	margin-top: 4%;
}

#created-success{
	margin-top: 5%;
}
